build/
jars/

projects/octopus/octopus-server/projects/
projects/octopus/octopus-server/plugins/
projects/octopus/octopus-server/querylib/
projects/octopus/octopus-server/orientdb/
projects/octopus/octopus-server/orientdb.tar.gz

projects/octopus/octopus-server/src/main/resources/logback-test.xml

.gradle/
gradle/
gradlew
gradlew.bat

.idea/
*.iml
*.ipr
*.iws

/bin/
