build/
jars/

projects/octopus/projects/
projects/octopus/octopus-server/plugins/
projects/octopus/octopus-server/querylib/
projects/octopus/octopus-server/orientdb/
projects/octopus/octopus-server/orientdb.tar.gz

.gradle/
gradle/
gradlew
gradlew.bat

.idea/
/bin/
